@model IEnumerable<BusinessLogicLayer.DogBLL>

@{
    ViewBag.Title = "Index";
}

<h2>Create</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DogID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BreedID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSmallBreed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDogHairless)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medical)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdoptDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurrenderDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DogID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BreedID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSmallBreed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDogHairless)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medical)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdoptDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurrenderDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.DogID }) |
            @Html.ActionLink("Details", "Details", new { id = item.DogID }) |
            @Html.ActionLink("Delete", "Delete", new {id = item.DogID })
        </td>
    </tr>
}

</table>
