@model BusinessLogicLayer.BreedBLL

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3></h3>
<div>
    <h4>Please ensure you're selecting the correct breed.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BreedID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BreedID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BreedName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BreedName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
